doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= 'MERN Starter - Blog App'
    link(rel="stylesheet", href= cssPath)
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700', rel='stylesheet', type='text/css')
    link(rel="shortcut icon",href="http://res.cloudinary.com/hashnode/image/upload/v1455629445/static_imgs/mern/mern-favicon-circle-fill.png", type="image/png")
  body
    div#root
        = 'Sorry, error'
    script(type="text/javascript").
        window.__INITIAL_STATE__ = !{initialState};
    script(type="text/javascript", src="/bundle.js")